nav ul h1, nav ul li a{
  font-family: sans-serif;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  background-color: #00065a;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

